<footer class="footer">
  <div class="">
  <div class="row">
    <div class="col-md-4">
      <span class="copyright">Alejandro Morente 2017</span>
    </div>
    <div class="col-md-4">
      <a class="copyright" href="https://world.openfoodfacts.org/">Made using OpenFoodFacts </a> 
      </div>
    <div class="col-md-4">
      <a class="copyright" href="https://github.com/Morente5/food-angular2">View this project on GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
  </div>
</footer>
