<div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card col-xs-6 col-sm-3 col-lg-2" *ngFor="let item of list">
            <img data-src="holder.js/100px280/thumb" alt="100%x280" src="" data-holder-rendered="true">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          
        </div>

      </div>
    </div>