<section *ngIf="test">
  <div class="album text-muted container">
    <div class="row" *ngIf="products && foodData">
      <div class="pull-right col-xs-12">
        Showing {{products.length}} of {{foodData.count}}
      </div>
    </div>
    <div class="row" *ngIf="products">
      <div class="card-wrapper col-sm-6 col-md-3 col-lg-2"
        *ngFor="let prod of products">
      <div class="card" [routerLink]="['/product', prod.code]">
        <div class="card-img-box">
          <div class='card-img'
            [ngStyle]="{
              'background-image': 'url(' + prod.image_url + ')'
            }"
          >
          </div>
        </div>
        <div class="card-text">
          <h6>{{prod.product_name}}</h6>
        </div>
      </div>
      </div>
    </div>
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    </div></div>
  </div>
    <div class="container-fluid" *ngIf="loading">
      <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
</section>

