@import "../../../variables.scss";
@import "../../../mixins.scss";

.card {
  position: relative;
  margin: 5px;
  height: 100%;

  &-img-box {
    width: 100%;
    border:none;
    border-radius: 50%;

    :before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .card-img {
    //background-image: url("https://static.openfoodfacts.org/images/products/325/622/167/5573/front_fr.19.full.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 10px;
  }
  .card-text {
    margin: 10px;
  }
  &-wrapper {
    padding: 0px;
    padding-bottom: 10px;
  }
}


.spinner {
  padding: 30px 0 30px 0;
  & div {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: $theme-primary;
    border-radius: 50%;
    animation: move 2.5s infinite cubic-bezier(.2,.64,.81,.23);
    overflow: hidden;
  }
  & div:nth-child(2) {
    animation-delay: 150ms;
  }
  & div:nth-child(3) {
    animation-delay: 300ms;
  }
  & div:nth-child(4) {
    animation-delay: 450ms;
  }
}

@keyframes move {
  0% {left: 0%;}
  75% {left:100%;}
  100% {left:100%;}
}